Options +FollowSymLinks
IndexIgnore */* #Options -Indexes

#Redirect domain to domain/api (disabled, cause i need both UI and api)
#RewriteCond %{REQUEST_URI} ^/$
#RewriteRule ^(.*)$ /api/$1 [R=301]

#Redirect URL domain/api/table-name to api-index.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.*)$ /api-index.php

#Redirect URL domain/api to api-index.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api /api-index.php
