.nav-button {
    width: 150px;
}

.logout-button {
    width: 100px;
}

#greeter {
    display: inline;
    padding-right: 20px;
}

#usersImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
